 <div class="modal-mask" v-show="show" transition="modal">
    <div class="modal-wrapper">
        <div class="modal-container"  style="width:{{modalwide}}">

            <div class="modal-header">
                <span class="cpm-right close-vue-modal"> <a class=""  @click="show = false">X</a> </span>
                <slot name="header">
                    {{text.create_folder}}
                </slot>
            </div>
            <form @submit.prevent="createFolder">
                <input type="hidden" v-model="projectid" value="{{projectid}}" />
                <input type="hidden" v-model="parent" value="{{parent}}" />

                <div class="modal-body col-md-12">
                    <div class="folder-image cpm-col-6 text-center">
                        <img :src="folderLink"/>
                        <div> {{folderName}} </div>
                        <div></div>
                    </div>
                    <div class="folder-name">
                        <input type='text' value="{{folderName}}"  v-model="folderName" class='folder-name-input' required />
                        <br/>
                        <label>  <input type="checkbox"  v-bind:true-value="1" v-bind:false-value="0"  v-model="privacy"   /> {{text.make_private}} </label>

                    </div>
                    <br clear="all"/>
                    <div class="clearfix" ></div>
                </div>

                <div class="modal-footer">
                    <slot name='submit'><input type="submit" name="submit" class=" submit cpm-doc-btn" value="{{text.folder_create}}"    /></slot>
                </div>
            </div>
        </form>

    </div>
</div>